.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: yellow;
    width: 100%;
}

.nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}

.icons {
    display: flex;
    height: 50px;
    width: 50px;
}

.icon_currency {
    width: 150px;
    height: 150px;
}

.slider {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.slide {
    min-width: 50%;
    height: 60vh;
    font-size: 50px;
}

.prev,
.next {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    top: 48%;
    color: white;
    background: black;
    border-radius: 9999px;
    padding: 4px 8px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}
